
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    position: relative;
    margin: 0px auto;
font-family: 'Montserrat', sans-serif;
}

:root{
    --font-color: #000000;
    --dark-color:#86efac;
    --light-color:#E1E1E1;
    --grey-font-color:#737373;

}
.navigation-bar{
    margin: 0px auto;
    width: 100%;
    height: 80px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    padding: 0px 2rem; 
}

.logo {
    padding: 25px 2rem; 
    box-sizing: border-box;
}
.logo a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 700;
}

.list-item {
    padding: 15px 2rem; 
    box-sizing: border-box;
    display: inline-block;
}
.list-item a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 15px;
    font-weight: 600;
}
.list-item a:hover{
    color: white;
}

.image{
    position: relative;
    margin: 10px auto;
    width:90%;
    display: flex;
    justify-content: center;
}

.intro{
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--grey-font-color);
}
.hobby{
    color: var(--dark-color);
    text-shadow: 2px 0.5px 1px var(--dark-color);
}

.sections{
    margin: 0px auto;
    padding: 10px;
}

.sections:nth-of-type(odd){
    margin:20px  auto;
   background-color: #f7fee7;
   border-radius:10px;
   width: 90%;
}

.sections:nth-of-type(odd) h1,p, div{ 
    display: flex;
    justify-content: center;
    padding: 4px;
}
.sections:nth-of-type(odd) div{
    display: flex;
    justify-content: center;
    margin-left: 43%;
    box-sizing: border-box;
    width: 15%;
    background-color: var(--dark-color);
    border-radius: 10px;
  }

  .sections:nth-of-type(odd) div:hover{
    background-color:#bdf1d0;
  }
  
.sections:nth-of-type(odd) div a{
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
}

.sections:nth-of-type(even){
    margin:20px  auto;
    width: 90%;
 }

.sections:nth-of-type(even) h1,p,div {
    display: flex;
    justify-content: center;
    padding: 4px;
}
.sections:nth-of-type(even) div{
    display: flex;
    justify-content: center;
    margin-left: 43%;
    box-sizing: border-box;
    width: 15%;
    border: 2px solid var(--dark-color);
    border-radius:10px ;
  }

  .sections:nth-of-type(even) div:hover{
    background-color:#bdf1d0;
    border: 2px solid #bdf1d0;
  }


.sections:nth-of-type(even) div a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
  }

.sections p{
    text-align: center;
}

.socialmedia {
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--dark-color);
    width: 100%;
    margin: 25px auto 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.socialmedia  h2 {
    text-align: center;
    width: 100%;
    margin: 20px auto 5px;
  }


.socialmedia span{
    display: grid;
    justify-content: center;
    margin: 0.5rem 2rem;
    font-size: 30px;
}

.socialmedia a{
    color: var(--font-color);
}

.socialmedia a:hover{
    color: white;
}


/* project html style */


.projectheader{
    margin: 20px auto;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2rem; 
}

.projectsvg{
    position: relative;
    margin: 10px auto;
    width:90%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.imageproject{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
   margin: 10px auto;
   object-fit: top left;
   border-radius: 10px;
}

.Project-container{
        margin: 0px auto;
        padding: 10px;
}


.Project-container:nth-of-type(odd){
    margin:20px  auto;
    width: 90%;
    background-color:#e6f8ed ;
    border-radius:10px;
}
.Project-container:nth-of-type(odd) h1,p , .btn-container{ 
    display: flex;
    justify-content: center;
    padding: 4px;
}

.Project-container:nth-of-type(odd) .links {
    display: flex;
    justify-content: center;
    margin: 0px 15px;
    box-sizing: border-box;
    width: 15%;
    border: 2px solid var(--dark-color);
    border-radius:10px ;
  }

  .Project-container:nth-of-type(odd) .links:hover{
    background-color:#bdf1d0 ;
    border: 2px solid #bdf1d0;
    }

  
.Project-container:nth-of-type(odd) .links a{
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
}

  .Project-container:nth-of-type(even){
    margin:20px  auto;
    background-color: #f7fee7;
    border-radius:10px;
    width: 90%;
 }

.Project-container:nth-of-type(even) h1,p .btn-container{
    display: flex;
    justify-content: center;
    padding: 4px;
}

.Project-container:nth-of-type(even) .links{
    display: flex;
    justify-content: center;
    margin: 0px 15px;
    box-sizing: border-box;
    width: 15%;
    background-color: var(--dark-color);
    border-radius: 10px;
    
  }

  .Project-container:nth-of-type(even) .links:hover{
    background-color: #bdf1d0;
    }


  .Project-container:nth-of-type(even) .links  a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
  }

  .Project-container p{
    text-align: center;
}


/*about me css*/
.header{
    margin: 0px auto;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0px 2rem; 
}

.section-content:nth-of-type(odd){
    margin:20px  auto;
   background-color:  #f7fee7;
   border-radius:10px;
   width: 90%;
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    flex-direction: column;
}

.section-content:nth-of-type(even){
    margin:20px  auto;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 4px;
    flex-direction: column;
    align-items: center;
 }

 .list{
    margin: 10px;
 }

 .aboutmesvg{
    position: relative;
    margin: 10px auto;
    width:90%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
 }

 /* blogcss */

.blog-container {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.blog{
    margin: 40px auto;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
    padding: 2rem; 
    overflow: hidden;
    flex-direction: column;
    background-color: #f7fee7;
}
.blog img{
    width: 70%;
    border-radius: 5px;
    /* mix-blend-mode:multiply; */
    background-color: #bdf1d0;

}
.blog p {
    font-size: 1.2rem;
    font-weight: 500;
}

.blog a{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: black;
    height: 40px;
    width:200px ;
    background-color: #86efac;
    border-radius: 10px;
    font-weight: 500;
}

.blog a:hover{
    background-color: #bdf1d0;
}
    .socialmedia-blog {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: var(--dark-color);
        width: 100%;
        margin: 25px auto 0px;
        border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }

    .socialmedia-blog  h2 {
        text-align: center;
        width: 100%;
        margin: 20px auto 5px;
      }
    
    
    .socialmedia-blog span{
        display: grid;
        justify-content: center;
        margin: 0.5rem 2rem;
        font-size: 30px;
    }
    
    .socialmedia-blog a{
        color: var(--font-color);
    }
    
    .socialmedia-blog a:hover{
        color: white;
    }
    
  


